<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
       
	<bean id="rtriDataSource" class="com.jaspersoft.jasperserver.api.engine.jasperreports.util.CustomDataSourceDefinition">
		<property name="factory" ref="customDataSourceServiceFactory"/>
		<property name="name" value="rtriDataSource"/>
		<property name="serviceClassName" value="de.boksa.jasper.rt.service.JRRTRESTInterfaceDataSourceService"/>
<!-- 
		<property name="validator">
			<bean class="example.cds.CustomTestValidator"/>
		</property>
 -->		
		<property name="propertyDefinitions">
			<list>
				<map>
					<entry key="name" value="restInterfaceBaseURL"/>
				</map>
				<map>
					<entry key="name" value="username"/>
				</map>
				<map>
					<entry key="name" value="password"/>
				</map>
			</list>
		</property>
		<property name="queryExecuterMap">
			<map>
				<entry key="RTRIQL" value="de.boksa.jasper.rt.util.JRRTRESTInterfaceQueryExecuterFactory"/>
			</map>
		</property>
	</bean>

    <bean class="com.jaspersoft.jasperserver.api.common.util.spring.GenericBeanUpdater">
        <property name="definition" ref="addMessageCatalog"/>
        <property name="value">
            <list>
                <value>WEB-INF/bundles/rtrids</value>
            </list>
        </property>
        <property name="valueType" value="stringList"/>
    </bean>
</beans>